<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vector.mapper.PgmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vector.entity.Pgm">
        <id column="t_id" property="tId" />
        <id column="drug_id" property="drugId" />
        <result column="quantity" property="quantity" />
        <result column="price" property="price" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_id, drug_id, quantity, price, is_delete, create_time, update_time
    </sql>

</mapper>
