<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    id唯一标识,class全限定名 -->
<!--    反射默认通过无参构造配置-->
<!--    scope="singleton"默认的为单例-->
<!--    | prototype | 多例的 |-->
<!--    | request | WEB项目中，Spring创建一个Bean的对象，将对象存入到request域中 |-->
<!--    | session | WEB项目中，Spring创建一个Bean的对象，将对象存入到sessiont域中 |-->
<!--    | global session |WEB项目中，应用在Portlet环境，如果没有Portlet环境那么globalSession相当于session-->

<!--    <bean id="userDao" class="com.vector.dao.impl.UserDaoImpl" scope="singleton"/>-->

    <!--    获取动态工厂创建的对象-->
<!--    <bean id="factoryStatic" class="com.vector.dao.factory.FactoryStatic" scope="singleton"/>-->
<!--    <bean id="userDao" factory-bean="factoryStatic" factory-method="getUserDao"/>-->

<!--    获取静态工厂创建的对象-->
    <bean id="userDao" class="com.vector.dao.factory.FactoryStatic" scope="singleton" factory-method="getUserDao"/>

    <bean id="userService" class="com.vector.dao.factory.FactoryStatic" factory-method="getUserService">
<!--        把id标签的userDao注给com.vector.service.impl.UserServiceImpl中的userDao方法-->
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>